@import url(riyadhStyle.css);
@import url(jeddahStyle.css);
@import url(alulaStyle.css);

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid gray;
  border-radius: 25px;
}

.header {
  background-color: #1c2237;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  width: 100%;
  height: 200px;
  margin: 0;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: inherit;
  padding-top: 20px;
}

#one {
  grid-area: "top";
}

#two {
  grid-area: "top";
}

#three {
  grid-area: "top";
}

@media (min-width: 600px) and (max-width: 900px) {
  .conatiner {
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 300px 300px;
    grid-area: "top top" "top";
    grid-gap: 15px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 901px) {
  .conatiner {
    display: grid;
    grid-template-rows: 200px;
    grid-template-columns: 300px 300px 300px;
    grid-area: "top top top";
    grid-gap: 15px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (min-width: 320px) and (max-width: 599px) {
  .conatiner {
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: 250px;
    grid-area: "top" "top" "top";
    grid-gap: 15px;
    height: 900px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
