.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  width: 100%;
  height: 200px;
  margin: 0;
}

.riyadhBg {
  background-color: navajowhite;
}
.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: inherit;
  padding-top: 20px;
}

.boox {
  text-align: center;
}

img {
  height: 500px;
  width: 700px;
  border-radius: 25px;
  display: inline-block;
}

.img-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
}

button {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  background: #1c2237;
  color: #fff;
}

button:hover {
  transition: all 0.3s ease-out;
  background: #f00946;
  color: #fff;
}

footer {
  border-top: 2px solid gray;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.footer-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  text-align: center;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #f00946;
}

@media (min-width: 600px) and (max-width: 900px) {
  img {
    height: 300px;
    width: 500px;
    border-radius: 25px;
    vertical-align: middle;
    display: inline-block;
  }
  .img-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-left: 10px;
    text-align: center;
    padding-top: 100px;
  }
}
@media (min-width: 901px) {
  img {
    height: 500px;
    width: 700px;
    border-radius: 25px;
    vertical-align: middle;
    display: inline-block;
  }
  .img-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-left: 10px;
    text-align: center;
    padding-top: 200px;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  img {
    height: 150px;
    width: 250px;
    border-radius: 25px;
    vertical-align: middle;
    display: inline-block;
  }
  .img-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding-left: 10px;
    text-align: center;
    padding-top: 100px;
  }
}
