.header {
  background-color: #1c2237;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  width: 100%;
  height: 200px;
  margin: 0;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: inherit;
  padding-top: 20px;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: left;
}

img {
  height: 500px;
  width: 700px;
  border-radius: 25px;
}

.img-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding-left: 10px;
  text-align: center;
  padding-top: 200px;
}
